{% extends 'base.html.twig' %}

{% block body %}
    <h1>Choice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choice.id }}</td>
            </tr>
            <tr>
                <th>Choice</th>
                <td>{{ choice.choice }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('choice_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('choice_edit', { 'id': choice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
