{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Ipadress</th>
                <td>{{ answer.ipAdress }}</td>
            </tr>
            <tr>
                <th>Session</th>
                <td>{{ answer.session }}</td>
            </tr>
            <tr>
                <th>Answerdate</th>
                <td>{% if answer.answerDate %}{{ answer.answerDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('answer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('answer_edit', { 'id': answer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
