{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="margin-left: 25%;">
            <h1>Survey edit</h1>
            {{ form(edit_form) }}
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
        </div>
    </div>
</div>
    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('collectionJquery/symfony-collection/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        //language=JQuery-CSS
        $('.my-selector').collection();
    </script>
{% endblock %}
