{% extends 'base.html.twig' %}

{% block body %}

    <h4>{{ survey.title }}</h4>
    <h5>{{ survey.description }}</h5>
    <ul>
        {% for num in count %}
            {% for result in results %}
                <li>{{ result.choice }}<br></li>
                <li>nombre de vote:{{ result.1 }}</li>
                     <div id="{{ result.id }}"></div>
                <script>
                    $( function() {
                        var a = {{ result.1 }}*100/{{ num.1 }};

                        $('#{{ result.id }}').LineProgressbar({
                            percentage: a,
                            width: '150px'
                        });
                    });
                </script>
            {% endfor %}
        {% endfor %}
    </ul>



{% endblock %}

{% block collection_widget %}

{% endblock %}


